.body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #000000;
}

.App {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: #fff url(/bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

